.buttons{
    display: flex;
    max-width: 140px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #9b5d5d;
    color: #5d5d9b;
    color: #0c181c;
    color: #5d9b5d;
}

